<div class="titulos letra container borde-reporte">
    <h4>Agregar Caracteristicas al Componente</h4>
</div>
<%= form_for(@relacion) do |f| %>
<div class="container borde-reporte letra">    
 
        <div class="row">
            <div class="col-sm">
                <%= f.label :caractersitica ,"Característica" %>
            </div>
            <div class="col-sm">
                <%= f.select(:caracteristica_id,"",{promt: "seleccione un tipo"},{style: :"width:100%",class: :"form-select",id: :caracteristica_id }) do %>
                    <%= options_from_collection_for_select(Caracteristica.all.order(id: :asc),:id,:nombre,0) %> 
                <% end %> 
            </div>
        </div>
        <%= f.text_field :componente_id, value: :"#{params[:comp_id]}", hidden:true %>
        <div class="row padding-div">
            <div class="col-sm">
                <%= f.label :valor_caracteristica,"Descripción o Valor de la Característica" %>       
            </div>
            <div class="col-sm">
                <%= f.text_field :valor_caracteristica, style: :"width:100%" %> <b>(Opcional)</b>
            </div>            
        </div>
        <div id="div_carac" class="row padding-div">          
        </div>        
        <div id="caracteristicas" >
        </div>        
         
    <input id="comp_id" value="<%=params[:comp_id]%>" hidden>
</div> 
<div class="borde-reporte container">      
    <%= f.submit "Agregar caracteristica",id: :submit_con,style: :"margin-top:3px",class: :"btn-sm btn btn-success padding-div",disabled: :true%>  
    <%= link_to "Nueva caracteristica" , new_caracteristica_path , class: :"btn-sm btn btn-primary padding-div"%>  
    <%= link_to 'Regresar a componentes ', componentes_path(page:params[:page]), class: :"btn btn-sm btn-secondary" %>
</div>
<% end %>
<%= render "partials/modal_plantilla" %>