<div class="modal-header">  
    <h4 class="letra">Eliminar Componente</h4>
    <button type="button" class="btn-close " data-dismiss="modal" aria-label="Close">      
    </button>  
</div>
<% @inventario=Inventario.find_by("tipocomp_id=?",@componente.tipocomp_id)%>
<div class="modal-body letra">
    <div class="row" style="background:black; color:white">
        <div class="col-sm" style="background:black; color:white"><b>Tipo de Componente </b>: <%= @componente.tipocomp.nombre %></div>
        <div class="col-sm" style="background:black; color:white"><b>Modelo</b>: <%= @componente.modelo %></div>
        <div class="col-sm" style="background:black; color:white" ><b>Marca</b>: <%= @componente.marca %></div>
        <div class="col-sm" style="background:black; color:white" ><b>Total</b>: <%= @inventario.cantidad %></div>
        <div class="col-sm"  style="background:white;border-style: none; color:black"><b>Disponibles</b>:<%= @inventario.disponibles%></div>        
    </div>     

    <div class="row form-control letra">
        <%= form_for(@componente) do |f| %>
            <input type="text" value="true" name="del" hidden="true"/>
            <%= f.label "Eliminar varios" %>            
            <%# f.number_field :cantidad, value:0, min:0, max: :"#{@componente.disponibles}" %>
            <%= f.submit "Borrar", class: :"btn btn-sm btn-outline-secondary" %>
        <% end %>  
  </div>      
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" data-dismiss="modal">Cerrar</button>
</div>