<div class="container borde-reporte letra">

    <%= link_to "Regresar", componentes_path(page:params[:page]), class: :"btn btn-sm btn-secondary" %>
    <%= link_to raw("#{image_tag("trash.svg")} Eliminar"), componente_path(id:@componente.id),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',class: :"btn btn-danger btn-sm"} %>               
          
    <table class="table table-sm table-borderless">
        <thead class="table-dark" > 
            <th >Tipo</th>
            <th>Modelo</th>
            <th>Marca</th>            
        </thead>
        <tbody>
            <tr style="border-bottom:solid">                
                <td><%= @componente.tipocomp.nombre %></td>
                <td><%= @componente.modelo %></td>
                <td><%= @componente.marca %></td>                
            </tr>           
            <tr >
                <td><b>Fecha de ingreso</b></td>
                <td ><%= @componente.fecha_ingreso %></td>  
            </tr>   
            <tr>
                <td><b>Ultima Modificación</b></td>
                <td ><%= @componente.fecha_modificacion %></td>    
            </tr>    
            <tr class="table-dark"><td colspan="4"><b>Características</b></td></tr>
            <tr>
                <td colspan="3">  
                    <input id="comp_id" value="<%= params[:id] %>" hidden />
                    Seleccionar Conjunto de Caracteristicas
                    <%= select :relacion,:conjunto,{},{},{class: :"form-select",id: :relacion,name: :conjunto} do  %>
                        <%= options_from_collection_for_select(RelacionCaracteristica.where("componente_id=?",params[:id]).select(:conjunto).order(conjunto: :asc).distinct,:conjunto,:conjuntos) %> 
                    <% end %>                    
                </td>
            </tr>
            <tr>
                <td>            
                    <div id="caracteristicas" >
                    </div>
               </td>                       
            </tr>          
        </tbody>
    </table>        
</div>
<%= form_with url: relacion_caracteristicas_cargar_conjuntos_path , method: :get do |f|%>
<div class="borde-reporte container">
    <%= f.text_field :compo_id ,value: params[:id], hidden: :true %>
    <input id="conjunto" name="conjunto" hidden />
    <%= f.submit "Editar", id: :submit_con, class: :"btn btn-mod btn-sm", disabled: :true %>                 
</div>
<% end %>
<%= javascript_pack_tag 'componentes.js' %>
<%= render "partials/modal_plantilla" %>