<div class="container"><%= form_for(@asignacion) do |f| %>  
    <% if @asignacion.errors.any? %>
    <% @asignacion.errors.full_messages.each do |message| %>
    <li class="alert alert-danger">* <%= message %></li>
    <% end %>
<% end %>  
    
    <%= f.label :tecnico, value:"Seleccione un tecnico"%>
    <%= f.text_field :reporte_id, value:params[:reporte_id], hidden:true %>
    <%= f.text_field :reasignada , value:"false" , hidden:true %>
    <input id="asignacion_id" name ="asignacion_id"  value="<%= params[:asignacion_id]%>" hidden="true">
    <%  @tecnicos=Perfil.where(id_rol:4) %>
    <%= f.select(:perfil_id,"",{promt: "seleccione un tecnico"},{class: :"form-select" }) do %>
        <%= options_from_collection_for_select(@tecnicos,:id,:nombre) %> 
    <% end %>    
    <%= f.submit "Seleccionar tecnico" , class: :"btn-sm btn btn-success" %>
<% end %>
</div>