<table class="table table-sm">
    <thead class="table-dark">
        <% if !@equipo.nil?  %>
            <th>Articulo</th>           
            <th>Piso</th>
            <th>Fecha de ingreso</th>
            <th style="text-align:center" >Disponibilidad</th>
        <% end %>
        <% if !@componentes.nil?  %>
            <th>Articulo</th>           
            <th>Fecha de ingreso</th>            
            <th style="text-align:center" colspan="2">Disponibilidad</th>
        <% end %>
    </thead>
    <tbody>
            <% if !@equipo.nil?  %>
                <% @equipo.each do |e| %>
                    <tr>
                        <td>
                            <%= e.tipocomp.nombre%><br>                        
                            <% if e.user_id.nil? %>
                                <b>Usuario: </b><%= link_to "Asignar Equipo", edit_equipo_path(e.id),style: :"width:25%;font-size:10px",class: :"btn btn-sm btn-success" %><br>
                            <% else %>
                                <b>Usuario: </b><%= User.find(e.user_id).nombre_personal %><br>
                            <% end %>
                            <b>Número de Serie: </b> <%= e.no_serie%><br>
                            <b>Número de Activo Fijo: </b><%= e.activo_fijo%><br>
                        </td>
                        <td><%= e.piso%></td>                        
                        <td><%= e.fecha_ingreso%></td>                        
                        <td style="text-align:center">
                            <% if e.user_id.nil? %>                       
                                <%= link_to raw("#{image_tag("check2.svg")} Asignar"),edit_equipo_path(e.id),style: :"width:100%;font-size:10px",class: :"btn-sm btn-success" %>                           
                            <% else %>                                
                                <%= link_to raw("#{image_tag("x-lg.svg")} Ver equipo"),equipo_path(e.id),style: :"width:100%;font-size:10px",class: :"btn-sm btn-danger" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>                                
            <% end %>
            <% if !@componentes.nil?  %>
                <% @componentes.each do |c| %>
                    <% @componente=Componente.find(c.componente_id)%>
                    <tr>        
                        <td><%= c.tipocomp.nombre%><br>
                        <b>Marca: </b><%= @componente.marca%><br>
                        <b>Modelo: </b><%= @componente.modelo%><br>
                        <b>Serie: </b><%= c.no_serie%><br>
                        <b>Activo Fijo: </b><%= c.no_activo_fijo %></td>                      
                        <td><%= @componente.fecha_ingreso%></td>                        
                        <td style="text-align:center" >   
                            <% if c.disponible == true %>                                                         
                                <%= link_to  raw("#{image_tag("check2.svg")} Asignar"),comp_serial_path(c.id),style: :"width:100%;font-size:10px",class: :"btn btn-sm btn-success",title: :disponible %>                   
                            <% else %>                                
                                <%= link_to raw("#{image_tag("x-lg.svg")} Ver equipo") ,equipo_path(c.equipo_asignado),style: :"width:100%;font-size:10px",class: :"btn btn-sm btn-mod",title: :"no disponible" %>                                         
                            <% end %>
                        </td>
                        <td style="text-align:center"><%= link_to raw("#{image_tag("trash.svg")} Eliminar existencia"), comp_serial_path(c.id),style: :"width:100%;font-size:10px", class: :"btn btn-sm btn-danger", data: { confirm: "¿Seguro de eliminar la existencia?" }, method: :delete %></td>
                    </tr>
                <% end %>
            <% end %>
    </tbody>
    </table>