<table class="table table-sm">
    <thead class="table-dark">
        <% if !@equipo.nil?  %>
            <th>Articulo</th>
            <th>Usuario</th>
            <th>Serie</th>
            <th>Activo_fijo</th>
            <th>Piso</th>
            <th>Folio</th>
            <th>Fecha de ingreso</th>
            <th style="text-align:center">Disponibilidad</th>
        <% end %>
        <% if !@componentes.nil?  %>
            <th>Articulo</th>           
            <th>Fecha de ingreso</th>            
            <th style="text-align:center">Disponibilidad</th>
        <% end %>
    </thead>
    <tbody>
            <% if !@equipo.nil?  %>
                <% @equipo.each do |e| %>
                    <tr>
                        <td><%= e.tipocomp.nombre%></td>
                        <td>
                            <% if e.user_id.nil? %>
                                Sin Asignar
                            <% else %>
                                <%= User.find(e.user_id).nombre_personal %></td>
                            <% end %>
                        <td><%= e.no_serie%></td>
                        <td><%= e.activo_fijo%></td>
                        <td><%= e.piso%></td>
                        <td><%= e.folio%></td>
                        <td><%= e.fecha_ingreso%></td>                        
                        <td style="text-align:center">
                            <% if e.user_id.nil? %>                       
                                <%= link_to raw("#{image_tag("check2.svg")} Asignar"),edit_equipo_path(e.id),class: :"btn-sm btn-success" %>                           
                            <% else %>                                
                                <%= link_to raw("#{image_tag("x-lg.svg")} Ver equipo"),equipo_path(e.id),class: :"btn-sm btn-danger" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>                                
            <% end %>
            <% if !@componentes.nil?  %>
                <% @componentes.each do |c| %>
                    <% @componente=Componente.find(c.componente_id)%>
                    <tr>        
                        <td><%= c.tipocomp.nombre%>
                        <b>Marca: </b><%= @componente.marca%>
                        <b>Modelo: </b><%= @componente.modelo%>
                        <b>Serie: </b><%= c.no_serie%><br>
                        <b>Activo Fijo: </b><%= c.no_activo_fijo %></td>                      
                        <td><%= @componente.fecha_ingreso%></td>                        
                        <td style="text-align:center">  
                            <% if c.disponible == true %>                                                         
                                <%= link_to  raw("#{image_tag("check2.svg")} Asignar"),comp_serial_path(c.id),class: :"btn-sm btn-success",title: :disponible %>                   
                            <% else %>                                
                                <%= link_to raw("#{image_tag("x-lg.svg")} Ver equipo") ,equipo_path(c.equipo_asignado),class: :"btn-sm btn-danger",title: :"no disponible" %>                                         
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
    </tbody>
    </table>