<div class="container borde-reporte letra">
    <table class="container table table-sm">       
    <thead class="table-dark">
        <th>id</th>
        <th>Componente</th>
        <th>Número de Serie</th>        
        <th></th>
    </thead>
    <tbody>
        <% @comp_seriales.each do |c| %>
            <tr >
                <td><%= c.id %></td>
                <td><%= c.componente.tipocomp.nombre %></td>
                <td><%= c.no_serie %></td>                
                <td><%= link_to raw("#{image_tag("trash.svg")} Eliminar existencia"), comp_serial_path(c.id),data: { :confirm => '¿Estas seguro de eliminar la existencia?'},  method: :delete,style: :"margin:5px", class: :"btn btn-sm btn-danger" %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>
<footer>
    <%= will_paginate @comp_seriales, class: :footer  %>
</footer>
<%= javascript_pack_tag 'componentes.js' %>