<div class="container borde-reporte">
    <h5>Editar el nombre del catálogo</h5>
    <%= form_for @option do |f| %>
        <%= f.label :opcion, "Nombre" %>
        <%= f.text_field :opcion %>
        <%= f.submit "Modificar",class: :"btn btn-secondary btn-sm" %>
        <%= link_to "Regresar a catálogos", opcions_path, class: :"btn btn-secondary btn-sm" %>
    <% end %>
      
</div>
