<%= link_to "", inventarios_cargar_tabla_path,{:remote => true, class: :"btn btn-secondary btn-sm style-no",id: :"carga_tabla" }  %>
<div class="container borde-reporte letra">
    <h4>Inventario</h4>    
    <%= form_with url: "inventarios" , method: :get do |f| %>
        <h5>Criterios de busqueda</h5>
        <div class="row">  
            <div class="col-sm">
            <div>Tipo de componente</div>      
                <%= f.select :tipocomp_id,:tipo,{},{style: :"width:100%",id: :tipocomp_invt,name: :tipocomp_invt} do  %>
                    <%= options_from_collection_for_select(Tipocomp.all.order(id: :asc),:id,:nombre) %> 
                <% end %> 
            </div>             
            <div class="col-sm" id="busqueda" style="display:block">                 
                <div>Marca</div>
                <select class="form-select" name="marca" style="padding:2px">
                    <option value="" hidden="true" selected >Selecciona uno</option>
                    <% @marcas.each do |m| %>
                        <option>
                            <%= m.marca %>
                        </option>
                    <% end %>                    
                </select>                                    
            </div>         
            <input id="escritorio" value="<%= Tipocomp.find_by("nombre = 'Equipo de Computo'").id %>" hidden />       
            <div class="col-sm" id="busqueda_2" style="display:block">                
                    <div>Número de Serie</div>
                    <%= f.text_field :serie, class: :"form-control form-control-sm" %>                
            </div>
            <div class="col-sm" id="busqueda_1" style="display:block">
                <div>Activo Fijo</div>
                <%= f.text_field :activo, class: :"form-control form-control-sm" %>
            </div>
            <div id="busqueda_3" class="col-sm" style="display:none">                   
                <div>Usuario</div>
                <%= f.select :user,:user,{},{style: :"width:100%",id: :user_select,name: :user_select} do %>
                    <%= options_from_collection_for_select(User.all.order(id: :asc),:id,:nombre_personal)%>
                <% end %>                               
            </div>      
             <div id="busqueda_4" class="col-sm" style="display:none">                   
                <div> Serie</div>
                <%= f.text_field :serie_eq, class: :"form-control form-control-sm" %>
            </div>      
             <div id="busqueda_5" class="col-sm" style="display:none">                   
                <div>Activos Fijo</div>
                <%= f.text_field :activo_eq, class: :"form-control form-control-sm" %>
            </div>            
            <div class="col-sm" style="text-align:left">
                <div>Disponibles</div>
                <%= f.check_box :disponible %> 
            </div>
            <div class="col-sm" style="margin-top:20px">
                <%= f.submit "Buscar",class: :"btn-sm btn btn-success" %>                
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm">
           
        </div>
        <div class="col-sm"></div>
    </div>
    <table class="container table table-sm">
    <thead class="table-dark">          
        <th>Tipo componente</th>
        <th>Cantidad</th>
        <th>Disponibles</th>            
    </thead> 
    <tbody>
        <% unless @inventario.nil? %>
            <tr>                    
                <td><%= Tipocomp.find(@inventario.tipocomp_id).nombre %></td>
                <td><%= @inventario.cantidad %></td>
                <td><%= @inventario.disponibles %></td>                                               
            </tr>             
        <% end %>
    </tbody>        
    </table>
   <%= render "partials/carga_tabla_inv_cel"%>
</div>

<footer>
<% if @componente_band == true %>

    <%= will_paginate @componentes, class: :footer%>
<% else %>
    <%= will_paginate @equipo, class: :footer%>
<% end %>
</footer>

<%= javascript_pack_tag 'inventarios.js' %>