<div class="container borde-reporte letra">
    <% if params[:error] %>
        <div class="alert alert-danger container">
            * Ya existe la caracteristica: <%= params[:nombre]%>
        </div>
    <% end %>
    <div class="titulos" > <h3>Nueva caracteristica</h3></div>
    <%= form_for(@caracteristica) do |f| %>
        <div class="row" style="margin-top:2px">           
            <div class="col-sm padding-div">
                <%= f.label :nombre , "Nombre" %>
                <%= f.text_field :nombre ,class: :"form-control-sm" %>
                <%= f.submit "Guardar" , class: :"btn btn-sm btn-secondary" %>
            </div>
        </div>        
        
    <% end %>    
</div>
